/*
***************************************
***************************************
	By:-	AbdElRahman Ahmad
  			fb.com/DrMagnet0
				twitter.com/DrMagnet0
				linkedin.com/in/DrMagnet0
				instagram.com/DrMagnet0
***************************************
***************************************
*/

/* font */
@font-face{font-family:'DroidKufi-Bold'; src: url("../fonts/DroidKufi-Bold.ttf")}
@font-face{font-family:'DroidKufi-Regular'; src: url("../fonts/DroidKufi-Regular.ttf")}
/* font */


body {
    font-family: 'Cairo', sans-serif;
    /*font-family: 'DroidKufi-Regular';*/
    font-size: 12px;
    background-color: #3d939c;
}
a, a:hover, a:focus {
	text-decoration: none;
}
p {margin: 0;}

.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.logo img {
  margin: auto;
  max-width: 100%;
  height: 130px;
}
.brief {
  text-align: center;
  margin-bottom: 70px;
}
.brief p {
  color: white;
  font-size: 20px;
}
.brief b {
  color: #291f1f;
}
.skills {
  margin-bottom: 70px;
}
.skil {
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}
.skil p {
  text-align: center;
  font-size: 18px;
  color: #291f1f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.percent {
  width: 100%;
  height: 20px;
  background-color: #307a82;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.percent span {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #191c1d;
}
.portfolio {
  margin-bottom: 50px;
}
.item {
  position: relative;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.item img.topimgitem {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 99999;
}
.itemimg {
  overflow: hidden;
}
.itemimg img {
  max-width: 100%;
  height: auto;
  transition: 1s ease-in-out;
}
.item:hover .itemimg img {
  transform: rotate(20deg) scale(2.0);
}
.item h1 {
  font-size: 20px;
  text-align: center;
  color: #291f1f;
}
.footer {
  text-align: center;
  margin-bottom: 50px;
}
.footer a {
  color: #291f1f;
  font-size: 25px;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
  font-weight: bold;
}
